<div class="jumborton col-xs-8 col-xs-offset-2">
    <div class="container">    
        <h2 class="display-4">Title:- <%= @article.title %></h2>
        <h4 class="center"><strong>Description:-</strong></h4>  
            <hr>
            <%= simple_format(@article.description) %>
            
        <p>Category:-  <%= @article.categories %></p>
        <p>Start Date:-  <%= @article.start_date %></p>
        <p>End Date:-  <%= @article.end_date %></p>   
        <p>Locations:-  <%= @article.locations %></p>
        <p>Image name:-  <%= @article.terms_and_conditions %></p>
    
    
        <div class="article_actions">
          <%= link_to "Edit This article", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
          <%= link_to "Delete This article", article_path(@article), 
              method: :delete,
              data: { comfirm: "Are you sure you want to delete the article?"}, 
              class: "btn btn-xs btn-danger" %>
          <%= link_to "View all articles", articles_path, class: "btn btn-xs btn-success" %>    
        </div>
    </div>    
</div>

  